.newsBar {
  position: sticky;
  margin-top: 75px;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  background-color: #2d2d2d;

  span {
    font-size: 20px;
    padding: 30px;
    color: rgb(253, 184, 253);
    text-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue;
  }

  .title {
    font-weight: bold;
  }
}

.readmeContainer {
  background-color: #2d2d2d;
  color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  margin: 40px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  white-space: pre-wrap;

  h2 {
    color: #ff006f;
    border-bottom: 1px solid #ffa500;
    padding-bottom: 5px;
  }
  img{
    padding: 20px;
    width: 60%;
  }
  p {
    margin-bottom: 20px;
  }
  
  ul {
    margin-left: 20px;
    list-style-type: disc;

    li {
      margin-bottom: 10px;
    }
  }

  a {
    color: #1e90ff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
