@import "../../Colors.scss";
@import "../../App.scss";


.navContainer{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 25px;
    background-color: $primary-blue;
    @extend %flex;
    justify-content: space-between;
    img {
        height: 40px; 
    }
    nav{
margin: 0px 30px;
        
        ul {
        text-align: right;
    @extend %flex;

        background-color: $primary-blue;

    
        a {
        font-size: 1.2em; 
        cursor: pointer;
        padding: 5px;
        margin: 2px 10px;

        &:hover {
            background-color: lighten($primary-blue, 10%);
            border-radius: 5px; 
        }
        }
        input {
            background: linear-gradient(90deg, pink, hotpink);
         @extend %button
        }
}   
}

}
