@import '../../App.scss';
@import '../../Colors.scss';

.formContainer{
    padding: 2%;
    @extend %flex;
    justify-content: center;
    form {
        text-align: center;
        width: 60%;
    }
    div{
        margin: 2%;
        padding: 2%;
    }
    button {
        @extend %button;
        width: 100px;
    }
}